$primary: purple;
$background:#fafafa;
$fontdark:#3e5769;
$deskTopWidth: 1200px;
$tabletWidth: 700px;
$mobileWidth: 350px;
$desktopHeight: 110px;
$tabletHeight: 130px;
$mobileHeight:80px;
$buttonColor:#284cc9;
$lightergrey:#efeff0;
$grey:#9fa7ac;
$green:#61ca3b;
$red:#c73333;