@import '_variables.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('~@/assets/styles/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('~@/assets/styles/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('~@/assets/styles/fonts/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('~@/assets/styles/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    src: url('~@/assets/styles/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('~@/assets/styles/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('~@/assets/styles/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('~@/assets/styles/fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('~@/assets/styles/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans SemiBold Italic';
    src: url('~@/assets/styles/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

h1, h2, h3, h4 {
    font-family:'Open Sans Extra Bold';
    color:$fontdark;
}
#app {
  h1 {
    margin-left:10px;
  }
    max-width:$deskTopWidth;
    @media (max-width: $deskTopWidth) {
      max-width:$tabletWidth;
    }
    margin:auto;
  }

  .box-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.75);
  }

  .big-button {
    padding: 10px 20px;
    background-color: $buttonColor;
    border: 1px solid $buttonColor;
    color: white;
    cursor:pointer;
    font-family: 'Open Sans SemiBold';
    margin:5px;
    ::after {
      
    content: "ADD STOCK";
    @media (max-width: $tabletWidth) {
      content: "ADD"
    }
    }
  }

  .big-input {
      border:solid 1px $lightergrey;
      padding:12px 5px;
      background-color:$background;
      min-width: 200px;
      font-family: 'Open Sans SemiBold';
  }
  
  .green {
    color:$green;
    fill:$green;
  }
  .red {
    color:$red;
    fill:$red;
  }
  .AddStock {
    margin:10px;
  }
  .Graphic {
    canvas {
        width:100%;
        height: $desktopHeight;
        @media (max-width: $deskTopWidth) {
          height: $tabletHeight;
        }
        fill:red;
    }
  }
  
  .Stock {
    flex: 1 1 0;
    width: $deskTopWidth/3;
    @media (max-width: $deskTopWidth) {
      width:$tabletWidth/2;
    }
    @media (max-width: $tabletWidth) {
      width:$mobileWidth;
    }
  .stock-info {
    margin:10px;
    height: $desktopHeight;
    @media (max-width: $deskTopWidth) {
      height: $tabletHeight;
    }
    @media (max-width: $tabletWidth) {
      height:$mobileHeight;
    }
    padding: 0px;
    position:relative;
    border:none;
    background-color:white;
    .graphic {
      width:25%;
      @media (max-width: $tabletWidth) {
        display:none;
      }
      display:inline-block;
      vertical-align: top;
    }
    .text-info {
      width:75%;
      @media (max-width: $tabletWidth) {
        width:100%;
        position:relative;
        padding-top: 15px;
      }
      display:inline-block;
      vertical-align: top;
      .mobile-left {
        @media (max-width: $tabletWidth) {
          width:60%;
          float:left;
        }
      }
      .mobile-right {
        @media (max-width: $tabletWidth) {
          width:35%;
          float:right;
          position:relative;
          text-align:right;
          padding-right:5%;
        }
      }
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top:10px;
      margin-bottom:0px;
      @media (max-width: $tabletWidth) {
        margin-top:0px;
      }
    }
    .symbol-name {
      font-family:'Open Sans SemiBold';
      color:$grey;
      font-size:12px;
    }
    .main-stock {
      position:relative;
      .curr-price {
        width: 35%;
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 22px;
        color:$fontdark;
        @media (max-width: $tabletWidth) {
          width:100%;
          font-size:16px;
        }
      }
      .diff-price {
        width:65%;
        @media (max-width: $deskTopWidth) {
          width:60%;
          padding-left:5%;
        }
        @media (max-width: $tabletWidth) {
          width:95%;
        }
        display:inline-block;
        font-size:12px;
        font-family: 'Open Sans SemiBold'
      }
    }
    .secondary-stock {
      margin-top:5px;
      overflow-wrap:break-word;
      @media (max-width: $tabletWidth) {
        display:none;
      }
      span {
        padding: 2px 10px 0px 0px;
        white-space:nowrap;
      }
    }
    }
  }
  }

  .error-message {
    background-color: #ff363626;
    border: solid red 1px;
    border-radius: 2px;
    padding: 0px;
    font-family: 'Open Sans Bold Italic';
    color:$fontdark;
    overflow:hidden;
    max-height:0px;
    visibility:hidden;
  }
  
  .error-message.show {
    visibility:visible;
    transition:max-height .5s ease-in-out;
    max-height:30px;
    padding: 10px;
  }

  .loading-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .loading-icon:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: loading-icon 1.2s infinite;
  }
  @keyframes loading-icon {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  